<div class="datagrid">

    <!-- fixed container -->
    <div class="container-left">
        <div class="header">
            <div class="header-cell" ng-repeat="col in metadata | limitTo:lastFixedColumn">{{col.header}}</div>
        </div>

        <div class="body">
            <div class="row" ng-repeat="row in rows track by $index" ng-form="datagridForm_{{$index}}">
                <div class="body-cell" ng-repeat="col in metadata | limitTo:lastFixedColumn">
                    <datagrid-cell data-datasource="row" data-metadata="col"></datagrid-cell>
               </div>
            </div>
        </div>
    </div>

    <!-- scrollable container -->
    <div class="container-right">
        <div class="header-container">
            <div class="header">
                <div class="header-cell" ng-repeat="col in metadata | startAt:lastFixedColumn">{{col.header}}</div>
            </div>
        </div>

        <div class="body">
            <div class="row" ng-repeat="row in rows" ng-form="">
                <div class="body-cell" ng-repeat="col in metadata | startAt:lastFixedColumn">
                    <datagrid-cell data-datasource="row" data-metadata="col"></datagrid-cell>
                </div>
            </div>
        </div>
    </div>

</div>