<div class="datagrid-cell">
    <!-- img -->
    <img ng-if="metadata.html_template == 'img'" ng-src="{{datasource[metadata.path]}}" >

    <!-- input type text-->
    <span ng-if="!metadata.editable && metadata.html_template == 'text'">{{datasource[metadata.path]}}</span>
    <span ng-if="metadata.editable && metadata.html_template == 'text'"><input type="text" ng-model="datasource[metadata.path]"></span>

    <!-- list -->
    <div ng-if="metadata.html_template == 'list'" ng-repeat="item in datasource[metadata.path] track by $index">
        <img ng-if="metadata.sub_html_template == 'img'" ng-src="{{item[metadata.sub_path]}}" >
        <span ng-if="metadata.sub_html_template == 'text'">{{item[metadata.sub_path]}}</span>
    </div>
</div>